*{
    margin:0;
    padding:0;
}
.back{
    height:700px;
    width:100%;
    display: block;
    position: relative;
    background-image: url('./images/road.jpg');
    background-repeat: repeat-x;
}
.car{
    width:100%;
    height:200px;
    top:50%;
    
    position: absolute;
    animation:trip 5s linear infinite;
}
.car_pic{
    width:200px;
    position: absolute;
    left:-200px;
}
.balon{
    position: absolute;
    width:30px;
    left:-200px;
    /* top:55%; */
}
.balon_1{
    position: absolute;
    width:100%;
    left:30px;
    top:29px;
    
    animation: rotate 0.2s linear infinite;
}
.balon_2{
    position:absolute;
    width:100%;
    top:30px;
    left:127px;
    
    animation: rotate 0.2s linear infinite;
}

@keyframes trip{
    0%{
        transform: translate(0%);;
    }
    100%{
        transform:translate(115%);
    }
}

@keyframes rotate{
    100%{
        transform:rotate(360deg);
    }
}


